html{
    min-height: 100%;
}
.reveal{
    display: none;
}
#result{
    margin: 0 auto;
    margin-top: 10%;
    width: 50%;
    text-align: center;
    border: 1px solid rgb(19, 103, 144);
    background-color: rgb(19, 103, 144);
    border-radius: 30px;
    box-shadow: 0.3em 0.3em 1em rgba(35, 35, 35, 0.6);
    color: rgb(244, 244, 244);
}
.main{
    margin: 0 auto;
    margin-top: 10%;
    padding-top: 5%;
    text-align: center;
    height: 200px;
    width: 400px;
    border: 1px solid rgb(19, 103, 144);
    background-color: rgb(19, 103, 144);
    border-radius: 30px;
    box-shadow: 0.3em 0.3em 1em rgba(35, 35, 35, 0.6);
    color: rgb(255, 255, 255);
}
input{
    border-radius: 20px;
    border: none;
    color:rgb(50, 50, 50) ;
    height: 40px;
    width: 300px;
    margin-bottom: 18px;
    text-align: center;
    box-shadow: 0.3em 0.3em 1em rgba(32, 32, 32, 0.6);

}
input[type=text]:focus{
    outline: 2px solid rgb(88, 48, 248);
}
button{
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid  rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 40px;
    box-shadow: 0.3em 0.3em 1em rgba(32, 32, 32, 0.6);
}